<%= form_for(@keepmeposted) do |f| %>
  <% if @keepmeposted.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keepmeposted.errors.count, "error") %> prohibited this keepmeposted from being saved:</h2>

      <ul>
      <% @keepmeposted.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
