<h1>Listing customerservices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customerservices.each do |customerservice| %>
      <tr>
        <td><%= link_to 'Show', customerservice %></td>
        <td><%= link_to 'Edit', edit_customerservice_path(customerservice) %></td>
        <td><%= link_to 'Destroy', customerservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customerservice', new_customerservice_path %>
