<!--<h1>Listing searchn_view_items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searchn_view_items.each do |searchn_view_item| %>
      <tr>
        <td><%= link_to 'Show', searchn_view_item %></td>
        <td><%= link_to 'Edit', edit_searchn_view_item_path(searchn_view_item) %></td>
        <td><%= link_to 'Destroy', searchn_view_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Searchn view item', new_searchn_view_item_path %>
-->
<h1 style = "background-color :green"> SearchnViewItems Use Case</h1>
