<%= form_for(@corporate) do |f| %>
  <% if @corporate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corporate.errors.count, "error") %> prohibited this corporate from being saved:</h2>

      <ul>
      <% @corporate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
