<h1>Listing corporates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corporates.each do |corporate| %>
      <tr>
        <td><%= link_to 'Show', corporate %></td>
        <td><%= link_to 'Edit', edit_corporate_path(corporate) %></td>
        <td><%= link_to 'Destroy', corporate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corporate', new_corporate_path %>
